[submodule "Frameworks/ASKDesignSystem"]
	path = Frameworks/ASKDesignSystem
	url = git@github.com:skorulis/ASKDesignSystem.git
[submodule "Frameworks/knit"]
	path = Frameworks/knit
	url = git@github.com:cashapp/knit.git
[submodule "Frameworks/ASKCore"]
	path = Frameworks/ASKCore
	url = git@github.com:skorulis/ASKCore.git
[submodule "Frameworks/SwinjectMacros"]
	path = Frameworks/SwinjectMacros
	url = git@github.com:skorulis/SwinjectMacros.git
